.tiny-menu {
    box-sizing: border-box;
}

.tiny-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tiny-menu-item {
    position: relative;
    height: 100%;
    padding: 0;
    letter-spacing: normal;
}

.tiny-menu-horizontal .tiny-menu-list {
    letter-spacing: -.31em;
    display: flex;
}

.tiny-menu-horizontal .tiny-menu-item {
    display: inline-block;
}

.tiny-menu-link, .tiny-menu-disabled, .tiny-menu-heading {
    letter-spacing: normal;
    padding: .6em 1em;
    border: 0;
    color: rgba(0,0,0,.8);
}

.tiny-menu-link, tiny-menu-heading {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.tiny-menu-active>.tiny-menu-link,
.tiny-menu-link:hover,
.tiny-menu-link:focus {
    background-color: rgba(0,0,0,.1);
    outline: none;
}

.tiny-menu-disabled {
    opacity: .5;
}

.tiny-menu-heading {
    text-transform: uppercase;
}

.tiny-menu-has-children>.tiny-menu-link::after {
    display: inline-block;
    margin: 0 -.6em 0 .6em;
    font-family: "iconfont" !important;
    font-size: .7em;
    font-style: normal;
    font-weight: bold;
    color: rgba(0,0,0, .5);
    content: "\e65f";
}

.tiny-menu-horizontal>.tiny-menu-list>.tiny-menu-has-children>.tiny-menu-link::after {
    content: "\e65e";
}

.tiny-menu-children {
    display: none !important;
    position: absolute;
    z-index: 1000;
    top: -1px;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.tiny-menu-children>.tiny-menu-item {
    display: block;
}

.tiny-menu-horizontal>.tiny-menu-list>.tiny-menu-item>.tiny-menu-children {
    top: 100%;
    left: 0;
}

.tiny-menu-allow-hover:hover, .tiny-menu-allow-hover:focus {
    background-color: rgba(0,0,0,.05);
}

.tiny-menu-allow-hover:hover>.tiny-menu-children,
.tiny-menu-allow-hover:focus>.tiny-menu-children {
    display: block !important;
}

.tiny-menu-horizontal.tiny-menu-scrollable {
    overflow-x: auto;
}

tiny-menu-scrollable {
    overflow-y: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.tiny-menu-accordion .tiny-menu-children {
    display: block !important;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 0 0 .5em;
    border: 0;
    height: 0;
}

.tiny-menu-accordion .tiny-menu-has-children>.tiny-menu-link::after {
    content: "\e65e";
}

.tiny-menu-accordion .tiny-menu-children .tiny-menu-link {
    display: none;
}

.tiny-menu-accordion .tiny-menu-allow-hover:hover>.tiny-menu-children,
.tiny-menu-accordion .tiny-menu-allow-hover:focus>.tiny-menu-children {
    height: 100%;
}

.tiny-menu-accordion .tiny-menu-allow-hover:hover>.tiny-menu-children>.tiny-menu-item>.tiny-menu-link,
.tiny-menu-accordion .tiny-menu-allow-hover:focus>.tiny-menu-children>.tiny-menu-item>.tiny-menu-link {
    display: block;
}
